[user]
	email = Martin.Brenner@ite-si.de
	name = Martin Brenner
[core]
	editor = vim
	sshCommand = ssh -i ~/.ssh/gitlab -F /dev/null
[credential]
	helper = cache
[pull]
	reabase = false
	rebase = false
