 /* wallust template - colors-swaync */

:root {
  --cc-bg: rgba({{background | rgb}}, 0.9);
  --noti-border-color: rgba({{color1 | rgb}}, 0.15);
  --noti-bg: {{color0 | rgb}};
  --noti-bg-alpha: 0.95;
  --noti-bg-darker: {{color0 | darken(0.3)}};
  --noti-bg-hover: {{color0 | lighten(0.3)}};
  --noti-bg-focus: rgba({{color0 | darken(0.3) | rgb}}, 0.6);
  --noti-bg-alt: rgb({{color4 | rgb}});
  --noti-close-bg: {{background | lighten(0.1) | rgb}};
  --noti-close-bg-hover: {{background | lighten(0.2) | rgb}};
  --text-color: {{foreground}};
  --text-color-disabled: {{foreground | darken(0.5)}};
  --bg-selected: rgb({{color4 | rgb}});
  --border-selected: {{color4 | lighten(0.3)}};
  --bg-selected-alt: rgb({{color8 | rgb}});
  --border-selected-alt: {{ color8 | lighten(0.3)}};
  --notification-icon-size: 64px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 32px;
  --border: 1.5px solid var(--noti-border-color);
  --border-radius: 25px;
  --notification-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3),
    0 1px 3px 1px rgba(0, 0, 0, 0.7), 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  --font-size-body: 15px;
  --font-size-summary: 16px;
  --hover-transition: background 0.15s ease-in-out;
  --group-collapse-transition: opacity 400ms ease-in-out;
}
